body{
   /* background-color: powderblue;*/
}
.container {
/*display: flex;*/
border: 4px solid blue;
height: 300px;
padding: 10px;
background: yellow;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 6px;

}
.yes.yes1  {
   background: red;
   border: 4px solid white;
   width: 60px;
   height: 60px;
   border-radius: 50%;
}
.yes.yes2 {
   background: black;
   border: 4px solid white;
   width: 60px;
   height: 60px;
   border-radius: 50%;

}
.yes.yes3 {
   background: green;
   border: 4px solid white;
   width: 60px;
   height: 60px;
   border-radius: 50px;
}