body{
   /* background-color: powderblue;*/
}
.container {
/*display: flex;*/
border: 4px solid green;
height: 300px;
padding: 10px;
background: yellow;
display: flex;
justify-content: space-between;

}
.yes {
background: blue;
border: 4px solid red;
width: 60px;
height: 60px;

/*border-radius: 50px;*/
}